.docker

/dok-site-novo/*
!/dok-site-novo/Dockerfile
!/dok-site-novo/vhost.conf

/dok-checkout/*
!/dok-checkout/Dockerfile
!/dok-checkout/vhost.conf

/dok-painel/*
!/dok-painel/Dockerfile
!/dok-painel/vhost.conf

/dok-consultas/*
!/dok-consultas/Dockerfile
!/dok-consultas/vhost.conf

/dok-email-marketing/*
!/dok-email-marketing/Dockerfile
!/dok-email-marketing/vhost.conf